<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">aiemdat</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/quan_ly_thu_vien</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
		<mapping class="Model.Sach"></mapping>
		<mapping class="Model.ThanhVien"></mapping>
		<mapping class="Model.SachMuon"></mapping>
		<mapping class="Model.PhieuMuon"></mapping>

	</session-factory>

</hibernate-configuration>